@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

body{
    font-family: 'Onest', sans-serif;
}